<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/header-img.jpg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Marmelada Concept</h1>
        <h5>Healthy Food * Specialty Coffee * Local Spirits</h5>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Ποιοί είμαστε</h2>
          <h5 class="description">
            Είμαστε μια εταίρια marketing με πολλά έτη εμπειρίας στο χώρο και
            είμαστε οι απολύτως κατάλληλοι για να διαφημίσουμε την εταιρία σας
            μπλαμπλα
          </h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>

      <div class="section section-story-overview">
        <div class="row">
          <div class="col-md-6 my-auto">
            <div
              class="image-container"
              style="background-image: url('assets/img/login.jpg')"
            ></div>
          </div>

          <div class="col-md-5 ml-auto mr-auto text-center">
            <h2 class="title">Στοιχεία Εταιρίας</h2>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Επωνυμία: </span>Ν. Βολιώτης - Α.
                Γιαννόπουλος - Ν. Σπαγάκος Καφέ Αναψυκτήριο ΙΚΕ
              </div>
              <div>
                <span class="font-weight-bold">Διακριτικός Τίτλος:</span>ΒΟ.
                ΓΙΑ. ΣΠΑ. Ι.Κ.Ε.
              </div>
              <div>
                <span class="font-weight-bold">Έδρα: </span>Παναγή Τσαλδάρη
                129-131, Καλλιθέα, 17676
              </div>
              <div>
                <span class="font-weight-bold">Δραστηριότητα: </span>ΥΠΗΡΕΣΙΕΣ
                ΠΑΡΟΧΗΣ ΓΕΥΜΑΤΩΝ ΚΑΙ ΠΟΤΩΝ ΑΠΟ ΣΝΑΚ ΜΠΑΡ, ΜΕ ΠΑΡΟΧΗ
                ΣΕΡΒΙΡΙΣΜΑΤΟΣ
              </div>
              <div><span class="font-weight-bold">ΑΦΜ: </span>801243292</div>
              <div><span class="font-weight-bold">ΔΟΥ: </span>Καλλιθέας</div>
              <div>
                <span class="font-weight-bold">Αρ. ΓΕΜΥ: </span>152539401000
              </div>
              <div>
                <span class="font-weight-bold">Τηλέφωνο </span>2110132560
              </div>
            </h5>
          </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="row mt-5 mb-5">
          <div class="col-md-6 ml-auto mr-auto text-center partner-info-text">
            <h2 class="title">Στοιχεία Εταίρων</h2>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Ονοματεπύνυμο: </span>Νικόλαος
                Βολιώτης
              </div>
              <div>
                <span class="font-weight-bold">Διεύθυνση:</span> Θράκης και
                Τιμόθεου Ευγενικού, Πολυκατοικία 45, Ταύρος
              </div>
            </h5>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Ονοματεπύνυμο: </span>Ανδρέας
                Γιαννόπουλος
              </div>
              <div>
                <span class="font-weight-bold">Διεύθυνση:</span> Δημοκρατίας 32,
                Ταύρος
              </div>
            </h5>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Ονοματεπύνυμο: </span>Νικόλαος
                Σπαγάκος
              </div>
              <div>
                <span class="font-weight-bold">Διεύθυνση:</span> Ιωάννου
                Κονδυλάκη 24, Αχαρνές
              </div>
            </h5>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Ονοματεπύνυμο: </span>Γεώργιος
                Δημητρίου
              </div>
              <div>
                <span class="font-weight-bold">Διεύθυνση:</span> Ιωάννου
                Δαιδάλου 24, Ταύρος
              </div>
            </h5>
            <h5 class="description">
              <div>
                <span class="font-weight-bold">Ονοματεπύνυμο: </span>Δημήτριος
                Γριτσίπης
              </div>
              <div>
                <span class="font-weight-bold">Διεύθυνση:</span> Ιωάννου
                Γρηγορίου Λαμπράκη 29, Ταύρος
              </div>
            </h5>
          </div>
          <div class="col-md-5 my-auto partner-info-img">
            <div
              class="image-container"
              style="background-image: url('assets/img/bg3.jpg')"
            ></div>
          </div>
        </div>

        <div class="separator separator-primary"></div>
        <div class="text-center">
          <h2 class="title">Εταιρικό Κεφάλαιο</h2>
          <h3>{{ "70500" | currency: "EUR" }}</h3>
          <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto"></div>
          </div>
        </div>

        <div class="separator separator-primary"></div>
        <div class="text-center">
          <h2 class="title">Διαχειριστής</h2>
          <h3>Ανδρέας Γιαννόπουλος</h3>
          <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="separator separator-primary"></div>
  <div class="section-contact-us text-center">
    <div class="container">
      <h2 class="title">Επικοινωνήστε μαζί μας</h2>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Ονοματεπώνυμο"
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div>
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus1 === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons ui-1_email-85"></i>
              </span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="Ηλ. Διεύθυνση"
              (focus)="focus1 = true"
              (blur)="focus1 = false"
            />
          </div>
          <div class="textarea-container">
            <textarea
              class="form-control"
              name="name"
              rows="4"
              cols="80"
              placeholder="Γράψτε ένα μήνυμα..."
            ></textarea>
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg"
              >Αποστολή Μηνύματος</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com"> Creative Tim </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us"> About Us </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com"> Blog </a>
          </li>
          <li>
            <a
              href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            >
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date: "yyyy" }}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
        Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
